<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}

<!-- COLLAPSIBLE TEXT WITH OPEN ALL/CLOSE ALL LINK -->
<script language="JavaScript" type="text/javascript">
<!-- Copyright 2007, Sandeep Gangadharan -->
<!-- For more free scripts go to http://www.sivamdesign.com/scripts/ -->
<!--
if (document.getElementById) {
 document.write('<style type="text/css">.texter {display:none; border-left:white 0px solid} @media print {.texter {display:block;}}</style>') }

var skillNum = new Array("p1","p2","p3","p4","p5", "p6");  
//var expNum = new Array("k1","k2","k3");
//var eduNum = new Array("l1","l2","l3");
//var allNum = new Array("p1","p2","p3","p4","p5","k1","k2","k3","l1","l2","l3");
var allNum = new Array("p1","p2","p3","p4","p5", "p6");

function openClose_skill(theID) {
 for(var i=0; i < skillNum.length; i++) {
  if (skillNum[i] == theID) {
   if (document.getElementById(skillNum[i]).style.display == "block") { 
     document.getElementById(skillNum[i]).style.display = "none" 
   }
   else { 
     document.getElementById(skillNum[i]).style.display = "block" 
   }html
  }
 }
}

//function openClose_exp(theID) {
// for(var i=0; i < expNum.length; i++) {
//  if (expNum[i] == theID) {
//   if (document.getElementById(expNum[i]).style.display == "block") { 
//     document.getElementById(expNum[i]).style.display = "none" 
//   }
//   else { 
//     document.getElementById(expNum[i]).style.display = "block" 
//   }html
//  }
// }
//}

//function openClose_edu(theID) {
// for(var i=0; i < eduNum.length; i++) {
//  if (eduNum[i] == theID) {
//   if (document.getElementById(eduNum[i]).style.display == "block") { 
//     document.getElementById(eduNum[i]).style.display = "none" 
//   }
//   else { 
//     document.getElementById(eduNum[i]).style.display = "block" 
//   }html
//  }
// }
//}

function openAll() {
 for(var i=0; i < allNum.length; i++) {
   document.getElementById(allNum[i]).style.display = "block";
 }
}

function closeAll() {
 for(var i=0; i < allNum.length; i++) {
   document.getElementById(allNum[i]).style.display = "none";
 }
}
// -->
</script>
